
.desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-bottom: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius-md); /* Abgerundete Ecken */
    margin-bottom: var(--spacing-md); /* Abstand unter dem Header-Bereich */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.desktop-header .header-section {
    display: flex;
    align-items: center;
}

.desktop-header .logo-section {
    padding-right: var(--spacing-sm);
}

.desktop-header .logo-section .logo-image {
    height: 80px;
}

.desktop-header .search-section {
    flex-grow: 1;
    justify-content: center;
    padding: 0 var(--spacing-sm);
    max-width: 600px;
}



.desktop-header .profile-section {
    padding-left: var(--spacing-sm);
}

.desktop-header .profile-section .profile-link {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 500;
    transition: color var(--transition-fast);
}

.desktop-header .profile-section .profile-link:hover {
    color: var(--primary-color);
}