body {
    padding-top: var(--spacing-sm);
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
}

.main-content {
    width: var(--container-width);
    margin: 0 auto;
    padding: var(--spacing-sm) 0;
}

.post-input-group {
    border-bottom: var(--border-width) solid var(--border-color);
    padding: var(--spacing-sm);
    background-color: var(--light-color);
    border-radius: var(--border-radius-md);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
    width: 100%;
    margin-bottom: var(--spacing-md);
    align-items: flex-start;
}

.post-input-group .user-profile {
    flex-shrink: 0;
}

.post-input-group .user-profile img {
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.post-input-group .post-input-group-inputs {
    padding-left: var(--spacing-xs);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-xs);
}

.post-input-group #post-input {
    width: 100%;
    flex-grow: 1;
    margin-bottom: var(--spacing-xs);
    font-family: var(--font-family-main);
    min-height: 60px;
    resize: vertical;
    padding: var(--spacing-xs);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-sm);
}

.image-upload {
    margin-bottom: var(--spacing-xs);
}

.image-upload-label {
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    font-size: var(--font-size-sm);
}

/*Hover-Zustand für den Options-Button */
.image-upload-label:hover {
    color: var(--primary-color);
    background-color: var(--hover-color);
}


.image-upload-label i {
    margin-right: var(--spacing-xs);
}

.image-preview {
    position: relative;
    margin-bottom: var(--spacing-xs);
    display: none;
}

.image-preview img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-sm);
    object-fit: contain;
}

#remove-image {
    position: absolute;
    top: var(--spacing-xs);
    right: var(--spacing-xs);
    background-color: #FF000080;
    color: var(--text-primary);
    border: none;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: color var(--transition-fast), background-color var(--transition-fast);
}

/*Hover-Zustand für den Options-Button */
#remove-image:hover {
    background-color: #ff0000;
}

.post-input-group .post-input-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.post-input-group .character-count {
    margin: 0;
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
}

.post-input-group #post-button {
    background-color: var(--primary-color);
    color: var(--light-color);
    cursor: pointer;
}

.post-input-group #post-button:hover {
    background-color: var(--primary-hover);
}

.switch-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-sm);
}

.post-toggle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius-md);
    margin-bottom: var(--spacing-xs);
    overflow: hidden;
    background-color: var(--light-color);
    font-size: var(--font-size-sm);
    width: 280px;
    height: 40px;
}

.post-toggle input {
    display: none;
}

.post-toggle label {
    flex: 1;
    text-align: center;
    line-height: 40px;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    color: var(--text-secondary);
    transition: color var(--transition-fast);
    user-select: none;
}

.post-toggle .switch-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-md);
    transition: transform var(--transition-fast);
    z-index: 0;
}

#followed-posts:checked ~ .switch-indicator {
    transform: translateX(100%);
}

#all-posts:checked ~ .switch-indicator {
    transform: translateX(0%);
}

#all-posts:checked ~ label[for="all-posts"],
#followed-posts:checked ~ label[for="followed-posts"] {
    color: var(--light-color);
}

@media (max-width: 768px) {
    .post-input-group .user-profile {
        display: none;
    }
    .main-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}