.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#login-form,
#register-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

#login-form button,
#register-form button {
    margin-bottom: 1rem;
}

#login-form label,
#register-form label {
    font-weight: bold;
}
